:root {
  font: 16px / 1 sans-serif;
  background-color: rgb(37, 34, 34);
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

a:link {
  text-decoration: none !important;
}

.menu-title {
  text-align: center;
}

.paper-container {
  display: flex;
  justify-content: center;
  padding: 10em;
  box-shadow: 0em, 2em, 0em, 2em;
}

.paper-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2em;
  border-radius: 0.8em;
}

ul > li {
  padding-bottom: 1em;
}

/*change colors for homepage links */
ul > li > a {
  color: #3f51b5 !important;
}

ul > li > a:hover {
  color: brown !important;
}

/* second page */
.header {
  padding: 1em;
  text-align: center;
  background: rgb(57, 57, 57);
  color: rgb(240, 234, 234);
  font-size: 1.5em;
}

.controller-container {
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgb(57, 57, 57);
  border-top: 0.05em solid rgb(114, 113, 113);
  border-bottom: 0.05em solid rgb(114, 113, 113);
  cursor: pointer;
  pointer-events: auto;
  padding: 0.4em;
  padding-right: 8em;
}

.left-btn {
  padding-right: 1.5em;
}

#progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  padding: 0.2em;
  width: 10em;
  height: 2em;
}

#read {
  width: 2em;
}

/* code editor */
.editor-container {
  position: relative;
  height: 30em;
}

.ace_content {
  position: relative;
  border-right: 0.05em solid rgb(114, 113, 113);
}

/* illustrations */
.squares-container {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 20em;
  padding-left:30em;
}

.square {
  display: flex;
  justify-content: center;
  position: relative;
  color: rgb(181, 63, 73);
  background: rgb(36, 36, 36);
  border: 0.02em solid white;
  font-size: 2.2em;
  line-height: 136px;
  width: 136px;
}

.operation-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-left: 10em;
}

input {
  padding: 0.4em;
  margin-right: 2em;
}

.buttons {
  position: relative;
  padding-left: 1.5em;
}
